<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <meta http-equiv="Pragma" content="no-cache">


  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background-image: url('{% static "images/aguila5.jpg" %}');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      height: 100%;
    }
   
    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title>Acerca del Colegio</title>
</head>

<body>

  {% include "colegio_cnb/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-info' style="margin-bottom:0px;">COLEGIO NACIONAL SIMÓN BOLIVAR</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">Glorioso y Benemérito Colegio de la Ciudad de Oruro</h1>
    <p class="lead">Fundado por decreto el 28 de octubre de 1826, De los genios de la libertad; Bolívar, Sucre y Olañeta, nace joya de América.
        ¡Oh! Bolivia... Eh aquí tu hijo, el Glorioso y Benemérito Colegio Nacional Simón Bolívar, que con orgullo lleva el nombre del Libertador de cinco naciones, te rinde su tradicional homenaje, llevando altivos ese único y exquisito estandarte mayor, que se nos fue otorgado en tu primer centenario. 
        ¡Oh! Bolivia... Juntos de la mano vamos caminando a nuestro bicentenario. 
        ¡Oh! Mi querida patria Bolivia... Corazón de Sud América, eres el oasis del desierto más profundo y el edén del más ardiente averno...</p>
    
    <hr class="my-4">
    <p>Explore nuestro sitio web. Para mas información contactarse con los 4 numeros de Whatsapp a disposición en el pie del sitio web, o visita la pagina de facebook. 24 de Julio SALUD!!!</p>
    
    <p class="lead">
      <a class="btn btn-outline-info btn-lg" href="/" role="button">INICIO</a>
    </p>
    
  </div>
  <marquee behavior="scroll" direction="left">
   <img src="{% static "images/21.jpg" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/22.jpg" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/23.jpg" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/24.jpg" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/equipo.png" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/logo.jpeg" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/27.jpg" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/25.jpg" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/logo1.jpeg" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/logo2.jpeg" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/logo3.jpeg" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/28.jpg" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/29.jpg" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/30.jpg" %}" width="120" height="113" alt="uno" />
   <img src="{% static "images/31.jpg" %}" width="120" height="113" alt="uno" />
 </marquee>
  {% include "colegio_cnb/footer.html" %}
</body>

</html>
