{% extends 'colegio_cnb/adminbase.html' %}
{% load static %}
{% block content %}

	<!-- main content -->
	<div class="wrapper">

<!-- ****** cards start ********** -->
		<div class="row">
			<div class="col-3 col-m-6 col-sm-6">
				<div class="counter bg-primary">
					<p>
						<i class="fas fa-users"></i>
					</p>
					<h3>{{total_customer}}</h3>
					<p>Total de Ex Alumnos</p>
				</div>
			</div>
			<div class="col-3 col-m-6 col-sm-6">
				<div class="counter bg-warning">
					<p>
						<i class="fas fa-futbol"></i>
					</p>
					<h3>{{total_mechanic}}</h3>
					<p>Total de Equipos</p>
				</div>
			</div>
			<div class="col-3 col-m-6 col-sm-6">
				<div class="counter bg-success">
					<p>
						<i class="fas fa-spinner"></i>
					</p>
					<h3>{{total_request}}</h3>
					<p>Total de Solicitudes</p>
				</div>
			</div>
			<div class="col-3 col-m-6 col-sm-6">
				<div class="counter bg-danger">
					<p>
						<i class="fas fa-comments"></i>
					</p>
					<h3>{{total_feedback}}</h3>
					<p>Total de Comentarios</p>
				</div>
			</div>
		</div>
<!-- ****** cards end ********** -->


<!-- ****** table  start ********** -->
		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3 style="color:red; text-align:center" >Solicitudes Recientes de los Ex Alumnos
						</h3>

					</div>
					<div class="card-content">
						<table>
							<thead>
								<tr>
									<th>Ex Alumno</th>
									<th>Promoción</th>
									<th>Tipo de Campeonato</th>
									<th>Color de Uniforme</th>
									<th>Decada</th>
									<th>Comentarios</th>
								</tr>
							</thead>
							<tbody>
								{% for c,r in data %}
								<tr>
									<td> {{c.get_name}}</td>
									<td> {{r.vehicle_name}}</td>
									<td>{{r.category}}</td>
									<td>{{r.vehicle_model}}</td>
									<td>{{r.vehicle_brand}}</td>
									<td>{{r.problem_description}}</td>
								</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
<!-- ****** table start ********** -->

  <br><br><br><br><br><br>

	</div>
	<!-- end main content -->
{% endblock content %}
