<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style type="text/css">
    .bs-example {
      margin: 0px;

    }
    .bg-dark {
    background-color: #000000!important;
}
    .navbar-brand {
      font-size: 20px;
      font-family: sans-serif;

    }
  </style>
</head>

<body>



  <div class="bs-example">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <a href="/" class="navbar-left"><img src="{% static "images/escudo3d.gif" %}" height="50px"></a>
      <a href="/" class="navbar-brand" style="color:rgb(150, 197, 219);">Ex Alumnos Colegio Nacional Simón Bolivar</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="/" class="nav-item nav-link active">Inicio</a>

          <a href="/customerclick" class="nav-item nav-link">Ex Alumno</a>
          <a href="/mechanicsclick" class="nav-item nav-link">Equipo</a>
          <a href="/gallery" class="nav-item nav-link">Galeria de Fotos</a>
          <a href="/noticia" class="nav-item nav-link">Noticias</a>
          <a href="/historia" class="nav-item nav-link">Historia</a>
         <!-- <a href="/adminclick" class="nav-item nav-link">Administrador</a> -->


        </div>

        <div class="navbar-nav">
          <a href="/aboutus" class="nav-item nav-link">Acerca de Nosotros</a>
          <a href="/acerca" class="nav-item nav-link">Acerca de Colegio</a>
         <!-- <a href="contactus" class="nav-item nav-link">Contactanos</a> -->
        </div>




      </div>
    </nav>
  </div>


</body>

</html>
